body{
	background: #f6f1eb;
	color: rgb(68, 68, 68);
    font-family: 'Courier New', Courier, monospace;
}
.adminlogin{
	margin: 80px 90px 90px;
}
.adminlogin__content{
	margin: auto 350px;
	background:#fffcf7;
	padding: 50px;
	width: 250px;
	height: 250px;
	line-height: 40px;
	color: rgb(68, 68, 68);
	border-radius: 5px;
}
.adminlogin__content input{
	padding: 10px 15px;
	border-radius: 4px;
	border: 1px solid  #e5e5e5;
	width: 100%;
	box-sizing: border-box;
}
.adminlogin__content label{
	font-size: 15px;
}
.adminlogin__pass, .adminlogin__taikhoan{
	color: rgb(68, 68, 68);
	font-size: 12px;
}
.adminlogin__dangnhap{
	margin-top: 30px;
	background: rgb(68, 68, 68);
	border:none;
	color:#fffcf7;
}

.container__header h2{
	text-align: center;
}
.chuthich{
	text-align: center;
	margin: 20px auto 30px;
}